body{
  background-color: grey;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.topnav ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;

  }

  .topnav li {
    list-style-type:none;
    float: left;
  }

  .topnav li a {
    list-style-type:none;
    margin-bottom: 20px;
    display: block;
    color: #333;
    font-size:30px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }

  a{
    margin-top:20px;
    padding:10px;
    text-decoration: none;
    color:black;
  }
